<section class="section-floor-goal">
    <div class="section-floor-goal__container-target">
        <h2 class="section-floor-goal__title">Цель</h2>
        <h3 class="section-floor-goal__sub-title">Какая Ваша главная цель?</h3>

        <div class="choosing-goal-improve-body">
            <a href="" class="choosing-goal-improve-body__item">
                <img class="choosing-goal-improve-body__img" src="/image/lose-weight.svg" alt="">
                <div class="choosing-goal-improve-body__text">
                    <h4 class="choosing-goal-title">Похудеть</h4>
                    <span class="choosing-goal-short-description">
                        Начать сжигать калории и жир
                    </span>
                </div>
            </a>
            <a href="" class="choosing-goal-improve-body__item">
                <img class="choosing-goal-improve-body__img" src="/image/build-up-mass-icon.svg" alt="">
                <div class="choosing-goal-improve-body__text">
                    <h4 class="choosing-goal-title">
                        Ускорить рост своих мышц
                    </h4>
                    <span class="choosing-goal-short-description">
                        Заставить свои мышцы расти быстрее
                    </span>
                </div>
            </a>
            <a href="" class="choosing-goal-improve-body__item">
                <img class="choosing-goal-improve-body__img" src="/image/food-icon.svg" alt="">
                <div class="choosing-goal-improve-body__text">
                    <h4 class="choosing-goal-title">
                        Начать питаться правильно
                    </h4>
                    <span class="choosing-goal-short-description">
                        Попробовать сбалансировать диету
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>