<section class="section-gender-profile">
    <h2 class="section-gender-profile__title">
        <span class="section-gender-profile__text">Давайте оценим Ваш профиль</span>
    </h2>
    <section class="section-gender-selection">
        <div class="section-gender-selection__wrapper-img">
            <img src="../../assets/image/man-icon.png" alt="" class="section-gender-selection__gender-img">
        </div>
        <div class="choose-your-gender">
            <h3 class="choose-your-gender__title">Выберите свой пол</h3>
            <div class="choose-your-gender__gender">
                <button class="gender-button man">
                    <img src="../../assets/image/male-icon.svg" alt="" class="choose-your-gender__icon">
                    <span class="gender-button__text">Мужчина</span>
                </button>
                <button class="gender-button woman">
                    <img src="../../assets/image/female-icon.svg" alt="" class="choose-your-gender__icon">
                    <span class="gender-button__text">Женщина</span>
                </button>
            </div>
        </div>
        <div class="section-gender-selection__wrapper-img">
            <img src="../../assets/image/woman-icon.png" alt="" class="section-gender-selection__gender-img">
        </div>
    </section>
</section>